.tittle{
    margin-top: 140px;
    text-align: center;
    font-size: 60px;
}

.form-group {
    margin-top: 100px;
}

.btn{
    margin-top: 15px;
}

.forgot{
    text-align: right;
}
img{
    display:block;
    margin:20px auto;
}
.forgot a{
    text-decoration:none;
    color: black;
}

